@{
    ViewData["Title"] = "Translating Words | Save";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model TranslatingWordsSettingsViewModel
}

<div class="border-bottom" style="margin-bottom: 20px">
    <h1 style="font-family:'Mistral'"><b>TŁUMACZENIE SŁÓW - ZAPISANO</b></h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p>Udało się zapisać.</p>
        </div>
    </div>
</div>