@{
    ViewData["Title"] = "Translating Words | Settings";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model TranslatingWordsSettingsViewModel
}

<div class="border-bottom" style="margin-bottom: 20px">
    <h1 style="font-family:'Mistral'"><b>TŁUMACZENIE SŁÓW - KONFIGURACJA</b></h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form method="post">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="NumberOfWords" value="5" class="form-check-input" checked />
                        5 słów
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="NumberOfWords" value="10" class="form-check-input" />
                        10 słów
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="NumberOfWords" value="15" class="form-check-input" />
                        15 słów
                    </label>
                </div>

                <label class="lead" asp-for="Level"></label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Level" value="0" class="form-check-input" checked />
                        Nieznany
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Level" value="1" class="form-check-input" />
                        A1
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Level" value="2" class="form-check-input" />
                        A2
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Level" value="3" class="form-check-input" />
                        B1
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Level" value="4" class="form-check-input" />
                        B2
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Level" value="5" class="form-check-input" />
                        C1
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="Level" value="6" class="form-check-input" />
                        C2
                    </label>
                </div>

                <div class="form-group">
                    <label asp-for="ExerciseName"></label>
                    <input asp-for="ExerciseName" class="form-control" />
                    <span asp-validation-for="ExerciseName" class="text-danger"></span>
                </div>
                <button asp-controller="TranslatingWords" asp-action="Settings" type="submit" class="btn btn-primary">Dalej</button>
            </form>
        </div>
    </div>
</div>