@{
    ViewData["Title"] = "Home | Student";
}

<div class="border-bottom" style="margin-bottom: 20px">
    <h1 style="font-family:'Mistral'"><b>UCZEŃ</b></h1>
</div>

<div class="container-fluid">
    <h4 style="font-family:'Mistral'"><b>UCZEŃ</b></h4>
    <p class="lead">
        Każdy użytkownik w aplikacji jest uczniem. Oznacza to, że może on
        rozwiązywać zadania, testy a także mieć wgląd w swoje wyniki oraz
        statystyki na temat ilości rozwiązanych zadań.
    </p>
    <h4 style="font-family:'Mistral'"><b>UCZEŃ - ĆWICZENIA</b></h4>
    <p class="lead">
        Jako uczeń, użytkownik może rozwiązać dowolne zadanie, które zostało
        udostępnione publicznie. Każde rozwiązane zadanie będzie podliczone w statystykach.
        Na koniec każdego rozwiązanego ćwiczenia, uczeń może zobaczyć gdzie popełnił błędy, a także
        w których miejscach odpowiedział poprawnie.
    </p>
    <h4 style="font-family:'Mistral'"><b>UCZEŃ - TESTY</b></h4>
    <p class="lead">
        Uczniowie mają również możliwość rozwiązywania testów. Testy mogą mieć
        jedno podejście lub wiele podejść. Jeżeli test posiada jedno podejście, to wyniki
        z niego zostaną zapisane w systemie i w każym momencie uczeń może je podejrzeć.
        Dodatkowo, niektóre testy są chronione hasłem. Aby je rozwiązać, konieczne będzie podanie
        hasła otrzymanego od nauczyciela.
    </p>
</div>
