@{
    ViewData["Title"] = "Home | App";
}

<div class="border-bottom" style="margin-bottom: 20px">
    <h1 style="font-family:'Mistral'"><b>O APLIKACJI</b></h1>
</div>

<div class="container-fluid">
    <h4 style="font-family:'Mistral'"><b>NAGŁÓWKI</b></h4>
    <p class="lead">Tutaj będą informacje ogólne o aplikacji</p>
</div>