@{
    ViewData["Title"] = "Home | App";
}

<div class="border-bottom" style="margin-bottom: 20px">
    <h1 style="font-family:'Mistral'"><b>O APLIKACJI</b></h1>
</div>

<div class="container-fluid">
    <h4 style="font-family:'Mistral'"><b>CZYM JEST APLIKACJA?</b></h4>
    <p class="lead">
        Aplikacja ta ma wspomagać nauczanie języków obcych. Podstawowym celem aplikacji
        jest dostarczenie narzędzi, które umożliwią w prosty sposób tworzenie różnorodnych
        ćwiczeń językowych oraz testów.
    </p>
    <h4 style="font-family:'Mistral'"><b>PRZEZNACZENIE APLIKACJI</b></h4>
    <p class="lead">
        Aplikacja ta nie będzie odpowiednia, aby wystawiać na jej podstawie oceny w szkolnictwie.
        Jej głównym przeznaczaniem, jest dodatkowe wsparcie w szlifowaniu umiejętności
        i nadrabianiu braków dla uczniów poza czasem szkolnym jak i dla dorosłych użytkowników.
    </p>
</div>