@{
    ViewData["Title"] = "Home | Student";
}

<div class="border-bottom" style="margin-bottom: 20px">
    <h1 style="font-family:'Mistral'"><b>UCZEŃ</b></h1>
</div>

<div class="container-fluid">
    <h4 style="font-family:'Mistral'"><b>NAGŁÓWKI</b></h4>
    <p class="lead">
        Tutaj będą informacje na temat tego, kim jest UCZEŃ, jakie
        ma uprawnienia itp. Będzie to w pewnym sensie taki samouczek obsługi dla uczniów.
    </p>
</div>
