@{
    ViewData["Title"] = "Home | Teacher";
}

<div class="border-bottom" style="margin-bottom: 20px">
    <h1 style="font-family:'Mistral'"><b>NAUCZYCIEL</b></h1>
</div>

<div class="container-fluid">
    <h4 style="font-family:'Mistral'"><b>NAUCZYCIEL</b></h4>
    <p class="lead">
        Nauczyciel jest specjalną rolą w systemie. Posiada on wszystkie uprawnienia ucznia
        oraz dodatkowo ma możliwość tworzenia swoich ćwiczeń oraz testów. Dodatkowo ma on wgląd na
        wyniki ze swoich testów (tylko testy z jednym podejściem). Oznacza to, że może podejrzeć kto
        i jaki wynik uzyskał z testu stworzonego przez nauczyciela.
    </p>
    <h4 style="font-family:'Mistral'"><b>NAUCZYCIEL - ĆWICZENIA</b></h4>
    <p class="lead">
        Nauczyciel ma możliwość tworzenia własnych ćwiczeń, wykorzystując do tego przygotowane schematy.
        Może on dowolnie wypełniać je danymi, ukrywać a także sugerować poziom trudności swoich ćwiczeń.
    </p>
    <h4 style="font-family:'Mistral'"><b>NAUCZYCIEL - TESTY</b></h4>
    <p class="lead">
        Poza tworzeniem ćwiczeń, nauczyciel może też tworzyć testy ze swoich zadań. Testy te może zabezpieczyć
        hasłem, ukryć oraz wybrać ile jest możliwych do niego podejść. Testy z jednym podejściem będą zapisywały wyniki
        i w każdym momencie nauczyciel może sprawdzić, kto rozwiazał jego test oraz jaki wynik uzyskał.
    </p>
</div>