@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-bottom: 20px">
    <div class="text-center">
        <h1 style="font-size: 144px">Nazwa Aplikacji</h1>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="list-group">
                <a class="list-group-item list-group-item-action flex-column align-items-start" style="height: 300px" asp-area="" asp-controller="Home" asp-action="AboutApp">
                    <div class="text-center">
                        <h5 style="font-family:'Mistral'"><b>O STRONIE</b></h5>
                    </div>
                    <p class="mb-1 lead">Treść normalnie jakaś.</p>
                </a>
            </div>
        </div>
        <div class="col-4">
            <div class="list-group">
                <a class="list-group-item list-group-item-action flex-column align-items-start" style="height: 300px" asp-area="" asp-controller="Home" asp-action="AboutStudent">
                    <div class="text-center justify-content-between">
                        <h5 style="font-family:'Mistral'"><b>UCZEŃ</b></h5>
                    </div>
                    <p class="mb-1 lead">Treść normalnie jakaś. Piszę sobie jakieś losowe słowa, żeby sprawdzić
                    jak ten tekst umiejscowi się w tym kwadraciku. Zobaczmy zatem efekty.</p>
                </a>
            </div>
        </div>
        <div class="col-4">
            <div class="list-group">
                <a class="list-group-item list-group-item-action flex-column align-items-start" style="height: 300px" asp-area="" asp-controller="Home" asp-action="AboutTeacher">
                    <div class="text-center">
                        <h5 style="font-family:'Mistral'"><b>NAUCZYCIEL</b></h5>
                    </div>
                    <p class="mb-1 lead">Treść normalnie jakaś.</p>
                </a>
            </div>
        </div>
    </div>
</div>




