@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card border-dark mb-3">
                <div class="card-header">Strona główna</div>
                <div class="card-body">
                    <h4 style="font-family:'Mistral'">[NAZWA APLIAKCJI]</h4>
                    <p>Jesteśmy na stronie głównej aplikacji. Prawdopodobnie będą
                    tutaj jakieś informacje dla niezalogowanych użytkowników, którzy
                    przypadkiem (lub celowo) weszli na tą stronę.</p>
                    <p>Domyślny odnośnik do dokumentacji Microsoftu - <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header">Nagłówek 1</div>
                <div class="card-body">
                    <h4 style="font-family:'Mistral'">TYTUŁ</h4>
                    <p class="card-text">Jakiś tekst odnoście czegoś.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-secondary mb-3">
                <div class="card-header">Nagłówek 2</div>
                <div class="card-body">
                    <h4 style="font-family:'Mistral'">TYTUŁ</h4>
                    <p class="card-text">Jakiś tekst odnoście czegoś.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header">Nagłówek 3</div>
                <div class="card-body">
                    <h4 style="font-family:'Mistral'">TYTUŁ</h4>
                    <p class="card-text">Jakiś tekst odnoście czegoś.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="list-group">
            <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" style="font-family:'Mistral'">TYTUŁ 1</h5>
                    <small class="text-muted">2 dni temu</small>
                </div>
                <p class="mb-1">Jakiś tekt odnośnie czegoś.</p>
            </a>
            <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" style="font-family:'Mistral'">TYTUŁ 2</h5>
                    <small class="text-muted">3 dni temu</small>
                </div>
                <p class="mb-1">Jakiś tekst odnośnie czegoś.</p>
            </a>
        </div>
    </div>
</div>




