@{
    ViewData["Title"] = "Exercise | Create";
}
@inject SignInManager<ApplicationUser> signInManager;

<div class="border-bottom" style="margin-bottom: 20px">
    <h1 style="font-family:'Mistral'"><b>ĆWICZENIA</b></h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="row">
                <div class="col">
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exercise" asp-action="Index">Informacje</a>
                        <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exercise" asp-action="ListExercises">Lista ćwiczeń</a>
                    </div>
                </div>
            </div>
            @if (signInManager.IsSignedIn(User) && User.IsInRole("Teacher"))
            {
                <div class="row" style="margin-top: 20px">
                    <div class="col text-center">
                        <label class="lead">Opcje nauczyciela:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action active" asp-area="" asp-controller="Exercise" asp-action="CreateExercise">Stwórz ćwiczenie</a>
                            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exercise" asp-action="MyExercises">Moje ćwiczenia</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-9">
            <div class="card border-dark mb-3">
                <div class="card-header">Stwórz ćwiczenie</div>
                <div class="card-body">
                    <h4 style="font-family:'Mistral'"><b>JAK DZIAŁA TWORZENIE ĆWICZEŃ?</b></h4>
                    <p class="lead">
                        Wybierz jaki typ ćwiczenia chcesz stworzyć. W zależności od typu ćwiczenia wyświetli się inny schemat do uzupełnienia oraz konfiguracja.
                    </p>
                    <br />
                    <p class="lead">
                        Typ zadania:
                    </p>
                    <a class="btn btn-outline-primary" asp-controller="TranslatingWords" asp-action="Settings">Tłumaczenie słów</a>
                    <a class="btn btn-outline-primary" asp-controller="ReadingTitles" asp-action="Settings">Czytanie - dopasowywanie tytułów</a>
                    <a class="btn btn-outline-primary" asp-controller="MatchingSentences" asp-action="Settings">Łączenie zdań</a>
                </div>
            </div>
        </div>
    </div>
</div>