@{
    ViewData["Title"] = "Exercise | Translating words";
}

<div class="border-bottom" style="margin-bottom: 20px">
    <h1 style="font-family:'Mistral'"><b>TŁUMACZENIE SŁÓW - TWORZENIE ZADANIA</b></h1>
</div>

<div class="container-fluid">
    <form>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="translateFrom" class="form-label mt-4">Polskie słowo</label>
                    <input type="text" class="form-control" id="translateFrom" placeholder="np. Samochód" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="translateTo" class="form-label mt-4">Angielskie słowo</label>
                    <input type="text" class="form-control" id="translateTo" placeholder="np. Car" />
                </div>
            </div>
        </div>
        <br />
        <div class="row justify-content-end">
            <div class="col-auto">
                <a class="btn btn-info">Dodaj</a>
                <a class="btn btn-success">Zakończ</a>
            </div>
        </div>
    </form>
</div>