@{
    ViewData["Title"] = "Exam | Access Denied";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="border-bottom" style="margin-bottom: 20px">
    <h1 style="font-family:'Mistral'"><b>TEST</b></h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="alert alert-danger">
            <strong>Już rozwiązałeś ten test. Nie możesz podejść do niego znowu.</strong>
        </div> 
    </div>
</div>