@{
    ViewData["Title"] = "Exam Page | Public exams";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exam" asp-action="Index">Informacje</a>
                <a class="list-group-item list-group-item-action active" asp-area="" asp-controller="Exam" asp-action="PublicExams">Publiczne testy</a>
                <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exam" asp-action="DoneExams">Zrobione testy</a>
                <a class="list-group-item list-group-item-action">Wyniki testów</a>
            </div>
        </div>
        <div class="col-9">
            <div class="card border-dark mb-3">
                <div class="card-header">Testy - Publiczne testy</div>
                <div class="card-body">
                    <h4 style="font-family:'Mistral'">CZYM SĄ PUBLICZNE TESTY?</h4>
                    <p>
                        Tutaj będą znajdować się testy stworzone przez użtykowników mających rolę
                        nauczyciel. Widoczne będą tylko te testy, które zostały ustawione jako publiczne.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
