@{
    ViewData["Title"] = "Exam | Public exams";
}

<div class="border-bottom" style="margin-bottom: 20px">
    <h1 style="font-family:'Mistral'"><b>TESTY</b></h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exam" asp-action="Index">Informacje</a>
                <a class="list-group-item list-group-item-action active" asp-area="" asp-controller="Exam" asp-action="PublicExams">Publiczne testy</a>
                <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exam" asp-action="DoneExams">Zrobione testy</a>
                <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exam" asp-action="ExamsResults">Wyniki testów</a>
                <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Exam" asp-action="CreateExam">Stwórz test</a>
            </div>
        </div>
        <div class="col-9">
            <div class="card border-dark mb-3">
                <div class="card-header">Publiczne testy</div>
                <div class="card-body">
                    <h4 style="font-family:'Mistral'"><b>CZYM SĄ PUBLICZNE TESTY?</b></h4>
                    <div class="list-group">
                        @foreach (var exam in ViewBag.exams)
                        { 
                            <a class="list-group-item list-group-item-action">
                                <h5>@exam.Name</h5>
                                <p class="mb-1">Autor: @exam.ApplicationUser.FirstName @exam.ApplicationUser.LastName</p>
                                <p class="mb-1">Widoczność: @(exam.Visible ? "Publiczny" : "Prywatny")</p>
                            </a>
                        }
                    </div>
                    @*<a asp-controller="Exam" asp-action="StartExam" class="btn btn-outline-primary">Rozwiąż test</a>*@
                </div>
            </div>
        </div>
    </div>
</div>
