@*@{
    ViewData["Title"] = "Exam | Start";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model StartExamViewModel
}

<div class="border-bottom" style="margin-bottom: 20px">
    <h1 style="font-family:'Mistral'"><b>TEST</b></h1>
</div>

<p>TODO: Podgląd testu.</p>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p class="lead">ID: @Model.ExamID</p>
            @if (!String.IsNullOrEmpty(Model.ExamPassword))
            {
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label class="lead">Hasło</label>
                        <input asp-for="InputPassword" type="password" class="form-control" />
                    </div>
                    @Html.HiddenFor(m => m.ExamID, new { Value = Model.ExamID })
                    @Html.HiddenFor(m => m.ExamPassword, new { Value = Model.ExamPassword })
                    <button asp-controller="Exam" asp-action="ShowExam" type="submit" class="btn btn-primary">Rozpocznij</button>
                </form>
            }
        </div>
    </div>
</div>*@