@page
@model RegisterModel
@{
    ViewData["Title"] = "Rejestracja";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="card border-primary">
                    <div class="card-header text-center">
                        <h1 class="card-title">@ViewData["Title"]</h1>
                    </div>
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label>Email</label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Hasło</label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Powtórz hasło</label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <!-- Dwa dodane pola -->
                        <div class="form-group">
                            <label>Imie</label>
                            <input asp-for="Input.FirstName" class="form-control" />
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Nazwisko</label>
                            <input asp-for="Input.LastName" class="form-control" />
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                        <div class="row text-center">
                            <button type="submit" class="btn btn-primary mt-5">Zarejestruj</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
