@model IEnumerable<IdentityRole>

@{ 
    ViewBag.Title = "All Roles";
}

<h1>Wszystkie role</h1>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-controller="Administration" asp-action="CreateRole">Stwórz nową rolę</a>

    foreach (var role in Model) 
    { 
        <div class="card mb-3">
            <div class="card-header">
                Role ID: @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id">Edytuj</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Nie utworzono żadnej roli
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Użyj przycisku poniżej by utworzyć rolę
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="Administration" asp-action="CreateRole">
                Stwórz nową rolę
            </a>
        </div>
    </div>
}
